<% include partials/header %>
<div class="container">
    <h1 class="text-center">Sign Up</h1>
    <div id="all-forms">
        <form action = "/register" method = "POST">
            <div class = "form-group" >
                <input class = "form-control" type = "text" name = "username" placeholder = "Username">
            </div>
            <div class = "form-group" >
                <input class = "form-control" type ="password" name = "password" placeholder = "Password">
            </div>
            <div class = "form-group" >
                <button class = "btn btn-md btn-danger btn-block form-control">Sign Up</button>
            </div>
        </form>
    </div>
</div>
<% include partials/footer %>